<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>App</display-name>
    <description>App description</description>

    <context-param>
        <param-name>properties</param-name>
        <param-value>/conf/app.properties</param-value>
    </context-param>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>gr.uoa.di.ys09.TestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>groovy</servlet-name>
        <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>groovy</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test.txt</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>gr.uoa.di.ys09.Listener</listener-class>
    </listener>

</web-app>
